:root {
    background-color: white;
    color: Black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}

#container {
    margin: 10px;
    padding: 5px;
}

#highScores {
    display: none;
}

#question-container {
    display: none;
}

.choice-container {
    background-color: purple;
    color: white;
    font-weight: bold;
    width: 300px;
    display: flex;
    margin: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: red;
}

.choice-prefix, .choice-text {
    padding: 3px;
}

#highscore {
    display: none;
}

